body {
  margin: 0;
  padding: 0;
  font-family: Calibri;
}

.container {
  width: 1366px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
}
h2 {
  color: #ffffff;
  margin-left: 40px;
}
.identity {
  background: #d66939;
}
input {
  background: #d66939;
  border: 2px solid#ffffff;
  box-sizing: border-box;
  margin-bottom: 15px;
  height: 50px;
  width: 500px;
  margin-left: 40px;
}
input::placeholder {
  color: #ffffff;
  font-size: 20px;
  margin-left: 10px;
}

.placeholder {
  color: #ffffff;
}
button {
  color: #d66939;
  background: #ffffff;
  border: 1px solid#ffffff;
  margin-top: 7px;
  margin-bottom: 15px;
  width: 90px;
  height: 40px;
  font-size: 17px;
  font-weight: bold;
  margin-left: 40px;
}

.flex-container3 {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  margin: 40px 40px;
}
.contact1,
.contact3,
.contact2 {
  margin-top: 6px;
  margin-bottom: 15px;
  font-weight: bold;
}
.contact2 {
  font-weight: bold;
}
.contact-icon {
  display: flex;
  margin-bottom: 35px;
}
.contact-img {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}
h5 {
  color: #d66939;
  font-size: 20px;
  margin-top: 0px;
}
.link1 {
  margin-top: -25px;
}
.social-icons {
  float: right;
  margin-right: -3vw;
  margin-top: -50px;
  width: 40px;
  height: 40px;
  display: flex;
}
.follow {
  margin-bottom: 15vh;
  float: right;
  margin-right: 75px;
  margin-top: -70px;
}
